.container{
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: arial,helvetica;
    background: #ececec;
    

    
}


.fullWidth{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;

}



.button{
   height: 50%;
}

.container-text{
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 4px 4px 4px 4px;
    width: 70%;
    padding: 20px;
    margin-top: 2%;
    margin-bottom: 2%;

}  

.container-form{
    margin-top: 1%;
    padding: 2%;
}

.container-message{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}




