<body class='body'>
    <div class='register'>
      
        <h1>Agregar Usuario</h1>
        <br>
        <form [formGroup]="form" (ngSubmit)="Addnew()">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Rut</mat-label>
              <input type="text" matInput autocomplete="off" formControlName="Rut">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
            <mat-label>Rut de empresa</mat-label>
              <input type="text" matInput autocomplete="off" formControlName="companyRut" >
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Nombre completo</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="fullName">
            </mat-form-field>     
            <button type="submit" class="ancho button" mat-raised-button color="primary" [disabled]="form.invalid">Enviar</button>
        </form>
    </div>
</body>




