

<h1>Cliente: {{data.fullName}}</h1>
<mat-list>
    <div *ngIf="data.subscription">
        <div mat-subheader>Suscripción </div> 
        <button mat-icon-button (click)="deleteSubscriptionFromCustomer()">
            <mat-icon>delete</mat-icon>
        </button>

        <mat-list-item >
        <mat-icon mat-list-icon>star</mat-icon>
            <div mat-line >
                Id: {{data.subscription.uuid}}
                <mat-slide-toggle [(ngModel)]="data.subscription.validated"></mat-slide-toggle>
            </div>
            <div mat-line >Precio: {{data.subscription.price}}</div>
            <div mat-line >Duración en meses: {{data.subscription.duration}}</div>
            <div mat-line >Fecha inicial: {{data.subscription.startDate}}</div>
            <div mat-line >Fecha final: {{data.subscription.endDate}} </div>
        </mat-list-item>


        
        <div mat-subheader>Plan</div>
        <mat-list-item *ngFor="let plan of data.subscription.plan">
        <mat-icon mat-list-icon>note</mat-icon>
            <div mat-line>Id: {{plan.uuid}}</div>
            <div mat-line>Nombre del plan asociado: {{plan.name}}</div>
            <div mat-line>Precio: {{plan.price}}</div>
            <div mat-line>Duración en meses: {{plan.duration}}</div>
            <div mat-line>Fecha de creación: {{plan.createdAt}}</div>
            <div mat-line>Creado por: {{plan.creadtedBy}}</div>
            <div mat-line>Fecha de modificación: {{plan.updatedAt}}</div>
            <div mat-line>Modificado por: {{plan.updatedBy}}</div>
        </mat-list-item>
    </div>

    <div *ngIf="!data.subscription">
        <div mat-subheader>Suscripcion</div>
        <mat-list-item >
        <mat-icon mat-list-icon>star</mat-icon>
        <div mat-line>El usuario no tiene Suscripcion</div>
        </mat-list-item>

        <mat-divider></mat-divider>
        <div mat-subheader>Plan</div>
        <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>El usuario no tiene plan</div>
        </mat-list-item>
    </div>

</mat-list>